*{
    padding: 0;
    margin: 0;
}

body{
    background-color: yellow;
}

div.container{
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    border-radius: 10px;
}

div .emoji{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    /* background-color: yellow; */
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.far{
    color: red;
    margin: 1px;
    transform: translateX(0);
    transition: transform 0.2s;
}

.ratingContainer{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

.fas{
    color: lightgray;
    margin: 3px;
    cursor: pointer;
}

.active{
    color:gold;
}